{% extends 'blog/base.html' %}
{% load staticfiles %}
{# 页面标题 #}
{% block title %}
       {{ blog.title }}
{% endblock %}
{% block nav_blog_active %}active{% endblock %}
{# 页面内容 #}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                       <h3><b>{{ blog.title }}</b></h3>
                        <ul class="list-inline" style="color: #999999">
                        <li>作者：{{ blog.author }}</li>
                        <li>发布日期：{{ blog.create_time|date:'Y-m-d h:n' }}</li>
                        <li>分类：<a href="{% url 'blogs_with_type' blog.blog_type_id %}">{{ blog.blog_type }}</a></li>
                        <li>阅读:{{ blog.get_read_num }}</li>
                        <li>评论:{{ comments.count }}</li>
                        </ul>
                        <hr>
                        <p>{{ blog.content|safe }}</p>
                        <div class="bdsharebuttonbox" style="float:right;">
                            <a href="#" class="bds_weixin" data-cmd="weixin" style="background:url(/static/bootstrap-3.3.7-dist/images/weixin.png);background-size: 100% 100%"></a>
                            <a href="#" class="bds_tsina" data-cmd="tsina" style="background: url(/static/bootstrap-3.3.7-dist/images/sina.png);background-size: 100% 100%"></a>
                            <a href="#" class="bds_sqq" data-cmd="sqq" style="background: url(/static/bootstrap-3.3.7-dist/images/qq.png);background-size: 100% 100%"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p class="lead">推广</p>
                        <hr>
                    <a href="https://promotion.aliyun.com/ntms/act/enterprise-discount.html?userCode=yxv7b5cl"><img src="{% static 'bootstrap-3.3.7-dist/images/ad1.jpg' %}" class="center-block"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <nav aria-label="...">
                  <ul class="pager">
                      {% if previous_blog %}
                      <li class="previous"><a href="{% url 'blog_detail' previous_blog.pk %}"><span aria-hidden="true">&larr;</span> 上一篇</a></li>
                      {% else %}
                       <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> 没有了</a></li>
                      {% endif %}
                      {% if next_blog %}
                        <li class="next"><a href="{% url 'blog_detail' next_blog.pk %}">下一篇 <span aria-hidden="true">&rarr;</span></a></li>
                      {% else %}
                        <li class="next"><a href="#">没有了 <span aria-hidden="true">&rarr;</span></a></li>
                      {% endif %}
                  </ul>
            </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                    <blockquote style="border-left-color: #444">
                        <strong>评论({{ comments.count }})</strong>
                    </blockquote>
                    {% for comment in comments %}
                        <p style="color: #999999">#{{ forloop.revcounter }}&nbsp;{{ comment.user }}发布于：{{ comment.comment_time|date:'Y-m-d h:n' }}</p>
                        <p><small>{{ comment.text|safe }}</small></p>
                    {% empty %}
                        <p>暂无评论</p>
                    {% endfor %}
                    <br>
                        <strong>提交评论</strong>
                    <hr>
                    {% if user.is_authenticated %}
                    <form action="{% url 'update_comment' blog.pk %}" method="post">
                        <div class="form-group">
                            {% csrf_token %}
                        {{ comment_form.text }}
                        </div>
                        <input type="submit" value="提交" class="btn btn-info">
                    </form>
                    {% else %}
                    <p>您尚未登陆，登录后可评论，<a class="btn btn-primary" href="{% url 'login' %}" role="button">登录</a> or <a class="btn btn-primary" href="{% url 'register' %}" role="button">注册</a></p>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script>
        window._bd_share_config={
        "common":{
            "bdSnsKey":{},
            "bdText":"",
            "bdMini":"2",
            "bdMiniList":false,
            "bdPic":"",
            "bdStyle":"1",
            "bdSize":"24"
            },
            "share":{}
            };
            with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
    </script>
{% endblock %}